<br>
<h1 class="h3 mb-3 font-weight-normal text-center">Welcome to MACS International</h1>
<h1 class="h4 mb-3 font-weight-normal text-center">"Forwards or Backwards, You Can Always Trust MACS"</h1>
<br>
<div class="row text-center">
  <div class="col-sm-12">
    <h1 class="h5 mb-3 font-weight-normal text-danger text-center">{{message}}</h1>
    <a routerLink="../pending">View Arrivals and Departures</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <app-flight-search></app-flight-search>
  </div>
  <div class="col-sm-5">
    <app-track-flight-status></app-track-flight-status>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-12 mb-1" *ngIf="this.session.checkAdmin()">
    <button (click)="addFlights()" class="btn btn-primary">Add Flights</button>
  </div>
</div>