<div class="jumbotron">
  <h1 class="h3 mb-3 font-weight-normal text-center">Confirm Your Reservation</h1>
  <h1 class="display-4 text-center">{{flight.city.name}}, {{flight.city.country.name}}</h1>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead text-nowrap">Population: {{flight.city.population | number}}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead text-nowrap">{{flight.time | date:"long" }}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead">Duration: {{flight.duration/60 | number:'1.0-0'}} hr {{flight.duration%60}} min</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead">Gate: {{flight.gate}}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{selected}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" (click)="setSelected('First Class')">First Class</button>
          <button class="dropdown-item" type="button" (click)="setSelected('Economy')">Economy</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center" *ngIf="selected=='First Class'">
      <div>{{flight.cost + 100 | currency: 'USD'}}</div>
    </div>
    <div class="col-sm-3 text-center" *ngIf="selected=='Economy'">
      <div>{{flight.cost | currency: 'USD'}}</div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p>Visa: XXXX-XXXX-XXXX-1234</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button class="btn btn-primary btn-block" (click)="confirm()">Confirm</button>
    </div>
    <div class="col-sm-4"></div>
  </div>

</div>