/* You can add global styles to this file, and also import other style files */
#MACSBackground {
    height: 100%;
    margin: 0;
    background-image: url("assets/oie_zHY3bRjbDLVf.jpg");
    background-attachment: fixed;
    background-size: cover;
    
} 