<br>
<h1 class="h3 mb-3 font-weight-normal text-center">Passenger List</h1>
<br>
<div class="container">
  <div class="row">
    <table id="flightTable" class="table">
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
        <th class="text-nowrap">No Fly</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users">
          <td class="text-nowrap">{{user.creationDate | date: "short"}}</td>
          <td class="text-nowrap">{{user.firstname}} {{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.noFly}}</td>
          <td><button class="btn btn-primary btn-block" (click)="noFly(user)" *ngIf="!user.noFly">No Fly</button></td>
        </tr>
      <!-- Dynamically fill table with parsed JSON using TypeScript (?) -->
      <!-- Create buttons that allow Users to book the corresponding flight -->
    </table>
  </div>
</div>