<h1 class="h3 mb-3 font-weight-normal text-center">Find Earliest Flight</h1>
<form (ngSubmit)='onSubmit()' [formGroup]="form">
  <div class="form-group">
    <label for="destination">Destination</label>
    <input class="form-control" type="text" name="destination" id="destination" formControlName="destination">
  </div>
  <div class="form-group">
    <label for="date">Earliest Departure Date</label>
    <input class="form-control" type="date" name="date" id="date" value=" " formControlName="date">
  </div>
  
  <input class="btn btn-primary btn-block" type="submit" value="Search Flights">
</form>