<form>
  <!-- Allow User to leave the fields blank if no changes wanted -->
  <p>First Name: <input name="setFirstName" type="text"></p>
  <p>Last Name: <input name="setLastName" type="text"></p>
  <p>Email: <input name="setEmail" type="email"></p>
  <p>Username: <input name="setUsername" type="text"></p>

  <!-- Check password to ensure it's the User making the changes -->
  <p>Enter your password: <input name="setPassword" type="password"></p>
  <br>
  <input type="submit" value="Confirm Changes">
</form>