<div class="jumbotron">
  <h1 class="h3 mb-3 font-weight-normal text-center">Itinerary</h1>
  <h1 class="display-4 text-center">{{flight.city.name}}, {{flight.city.country.name}}</h1>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead text-nowrap">Population: {{flight.city.population | number}}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead text-nowrap">{{flight.time | date:"long" }}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead">Duration: {{flight.duration/60 | number:'1.0-0'}} hr {{flight.duration%60}} min</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p class="lead">Gate: {{flight.gate}}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row" *ngIf="this.session.checkUser() && this.status=='Cancelled' && this.available">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 text-center">
      <p class="lead">Estimated Cost: {{flight.cost | currency: 'USD'}}</p>
    </div>
    <div class="col-sm-3 text-center">
      <a class="btn btn-primary btn-block" routerLink="../../reservation/confirm">Reserve</a>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 text-center" *ngIf="this.session.checkUser() && this.status=='Reserved' && this.available">
      <button class="btn btn-primary" (click)="cancel()" routerLink="../../reservation/history">Cancel Reservation</button>
    </div>
    <div class="col-sm-3 text-center" *ngIf="this.session.checkUser() && this.status=='Reserved' && this.available">
      <a class="btn btn-primary" routerLink="../../checkin">Boarding Pass</a>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>